/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
body {
  font: 15px/1.75 "Poppins", sans-serif;
  color: #4c4e61;
}

.main-wrapper {
  max-width: 1440px;
  padding: 2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto 3rem;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 200;
  color: #4c4e61;
}

.subtag {
  font-size: 1.5rem;
  font-weight: 700;
}

.subtext {
  color: #a3a5ae;
  max-width: 350px;
  margin-top: 0.5rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;
}

.card {
  position: relative;
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.card-text {
  margin: 1rem 0;
  color: #a3a5ae;
}
.card-icon {
  display: block;
  max-width: 64px;
  float: right;
}
.card-1 {
  border-top: 6px solid #45d3d3;
}
.card-2 {
  border-top: 6px solid #ea5353;
}
.card-3 {
  border-top: 6px solid #fcaf4a;
}
.card-4 {
  border-top: 6px solid #549ef2;
}

@media screen and (min-width: 960px) {
  .tagline,
.subtag {
    font-size: 2.4rem;
    line-height: 1.25;
  }

  .subtext {
    max-width: 520px;
    margin-top: 1.5rem;
  }

  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    gap: 1.75rem;
  }

  .card-1 {
    grid-row: 2/4;
  }

  .card-2 {
    grid-row: 1/3;
  }

  .card-3 {
    grid-row: 2/4;
  }

  .card-4 {
    grid-row: 3/5;
  }
}
