* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font: 16px/1.55 "Poppins", sans-serif;
  color: #fff;
  background-color: #674baf;
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.img-logo {
  display: block;
  max-width: 125px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.mockup-container {
  margin: 3rem auto;
}

.img-mockup {
  display: block;
  max-width: 100%;
}

.content-container {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 1.8rem;
}

.tagline {
  font: 1.07rem/1.75 "Open Sans", sans-serif;
  font-weight: 300;
  margin: 1rem 0 2rem;
}

.btn-register {
  font-family: inherit;
  font-size: 0.9rem;
  color: #674baf;
  padding: 0.75rem 5rem;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  transition: all 2ms ease-in;
}
.btn-register:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.2);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-icon {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.social-icon:hover {
  cursor: pointer;
  box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  body {
    background-position: center;
    background-size: cover;
    background-image: url("images/bg-desktop.svg");
  }

  .container {
    max-width: 1400px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
  }

  .img-logo {
    max-width: 200px;
  }

  .mockup-container {
    margin: 0 auto;
  }

  .content-container {
    text-align: left;
    padding: 2rem 0;
  }
  .content-container .title {
    font-size: 3rem;
    font-weight: 600;
  }
  .content-container .tagline,
.content-container .btn-register {
    font-size: 1.2rem;
  }

  .footer {
    align-self: flex-end;
  }
}
